﻿@{
    ViewBag.Title = "Home Page";
}


<div class="top">
    <div class="headerFont">Diagramming App</div>
</div>
<div class="content">
    <div class="height-100 margin-0">
        <div id="leftMenu" class="height-100 borderSolid borderRadius">
            <h3 class="textAlignCenter">Palette objects</h3>
            <div id="myPalette"></div>
        </div>
        <div id="diagram" class="height-100 borderSolid borderRadius">
            <div id="ribbon">
                @Html.Partial("Top/RibbonBar")            
            </div>
            <div id="myDiagram"></div>
            <div id="bottomTabs"></div>
        </div>
        <div id="rightMenu" class="height-100 borderSolid borderRadius">
            @Html.Partial("Right/Properties")
        </div>
        <div class="clearBoth"></div>
    </div>
</div>

<script>
    function UrlAction(action, controller) {
        var url = ('@Url.Action("--Action--", "--Controller--")').replace("--Action--", action).replace("--Controller--", controller);
        return url;
    }
</script>