﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - GoJS App</title>
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/gojs")
    @Scripts.Render("~/Scripts/custom")
    @Scripts.Render("~/Scripts/dataStructure")
    @Scripts.Render("~/Scripts/tests") 
    
    <script>
        window.onload = function () {

            Diagram.initDiagram();
            Diagram.initPalette();
            ApplicationEvent.setApplicationEvents();
            TabStructure.initTab();

        }

    </script>
</head>
<body>
    <div class="siteContent">
        
        @RenderBody()

    </div>
</body>
</html>
