﻿body, html{
    height: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/*Custom styles*/

.siteContent {
    height: 100%;
}

.top {
    height: 60px;
    background-color: #222222;
    padding-top: 10px;
}

.content {
    height: calc(100% - 60px - 4px - 2px);
    margin: 2px 0px;
    width: 100%;
}

#rightMenu {
    width: 220px;
    float:left;
    margin: 0px 2px;
    background-color: #f5f5f5;
    padding: 10px;
}

#leftMenu {
    width: 220px;
    float:left;
    margin: 0px 2px;
    background-color: #f5f5f5;
    padding: 10px;
}

#diagram {
    /* - width of right and left panel - margins - borders*/
    width: calc(100% - 220px - 220px - 8px - 2px);
    float:left;
}

#myDiagram {
    height: calc(100% - 80px - 32px);
    width: 100%;
}

#myPalette {
    height: calc(100% - 56px);
    width: 100%;
}

#bottomTabs {
    height: 30px;
    margin-top: 2px;
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 5px;
}

.tab{
    width: 150px;
    height: 20px;
    border: 1px solid #222222;
    text-align: center;
    font: bold 12px arial;
    float: left;
    margin-left: 2px;
    border-radius: 5px;
    cursor: pointer;
}

.tabActive {
    color: white;
    background-color: #347ab6;
    cursor: pointer;
}

/*Ribbon*/

#ribbon {
    height: 80px;
    width: 100%;
    background-color: #f5f5f5;
    padding-top: 22px;
}

.ribbonBtnsList {
    padding-left: 0;
    list-style: none;
}

.ribbonBtnsList li
{
    display: inline;
    list-style-type: none;
    padding-left: 10px;
}

.overview {
    width: 100%;
    height: 200px;
    background-color: white;
}

.openTable {
    border-collapse:collapse;
    border:1px solid #222222;
}

.openTable td{
    border:1px solid #222222;
}

/*end ribbon*/

/*helpers*/

.height-100 {
    height: 100%;
}

.margin-0 {
    margin: 0 !important;
}

.borderSolid{
    border: 1px solid #eaeaea;
}

.clearBoth{
    clear: both;
}

.borderRadius{
    border-radius: 5px;
}

.headerFont {
    font-family: "Times New Roman", Times, serif;
    font-size: 26px;
    font-weight:bold;
    color: white;
    width: 250px;
    margin-left: 20px;
}

.marginTop10 {
    margin-top: 10px;
}

.textAlignCenter {
    text-align:center;
}
/*end helpers*/

/*End custom styles */
