﻿
<div>
    <ul class="ribbonBtnsList">
        <li>
            <button type="button" class="btn btn-default" aria-label="New" onclick="ApplicationEvent.onNewDiagramClick()">
                <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
            </button>
        </li>
        <li>
            <button type="button" class="btn btn-default" aria-label="Open" onclick="ApplicationEvent.onOpenDiagramClick()">
                <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
            </button>
        </li>
        <li>
            <button type="button" class="btn btn-default" aria-label="Save" onclick="ApplicationEvent.onSaveDiagramClick()">
                <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
            </button>
        </li>
        <li>
            <button type="button" class="btn btn-default" aria-label="Save as image" onclick="ApplicationEvent.onSaveDiagramAsImageClick()">
                <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
            </button>
        </li>
        <li>
            <button type="button" class="btn btn-default" aria-label="Undo" onclick="ApplicationEvent.onUndoClick()">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            </button>
        </li>
        <li>
            <button type="button" class="btn btn-default" aria-label="Redo" onclick="ApplicationEvent.onRedoClick()">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            </button>
        </li>
        <li>
            <button type="button" class="btn btn-default" aria-label="Zoom in" onclick="ApplicationEvent.onZoomInClick()">
                <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
            </button>
        </li>
        <li>
            <button type="button" class="btn btn-default" aria-label="Zoom out" onclick="ApplicationEvent.onZoomOutClick()">
                <span class="glyphicon glyphicon-zoom-out" aria-hidden="true"></span>
            </button>
        </li>
        <li>
            <button type="button" class="btn btn-default" aria-label="New model" onclick="ApplicationEvent.onNewModelClick()">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            </button>
        </li>
        <li>
            <button type="button" class="btn btn-default" aria-label="Remove model" onclick="ApplicationEvent.onRemoveModelClick()">
                <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
            </button>
        </li>
    </ul>
</div>
