﻿
<div>
    <h3 class="textAlignCenter">Object properties</h3>
    <div class="input-group marginTop10">
        <span class="input-group-addon" id="name-addon1">Name</span>
        <input id="objectName" type="text" class="form-control" aria-describedby="name-addon1">
    </div>
    <div class="input-group marginTop10">
        <span class="input-group-addon" id="type-addon">Type</span>
        <input id="objectType" type="text" class="form-control" aria-describedby="type-addon">
    </div>
    <div class="input-group marginTop10">
        <span class="input-group-addon" id="fontSize-addon">Font</span>
        <input id="objectFontFamily" type="text" class="form-control" aria-describedby="fontSize-addon">
    </div>
    <div class="input-group marginTop10">
        <span class="input-group-addon" id="category-addon2">Category</span>
        <input id="objectCategory" type="text" class="form-control" aria-describedby="category-addon2" readonly>
    </div>
</div>

<div class="myOverviewContainer">
    <h3>Overview</h3>
    <div id="myOverview" class="overview" style="width: 100%; height: 100px;"></div>
</div>